body{
	margin:0;
	padding:0;
}

.container{
	width:1000px;
	height:1000px;
	margin:0 auto;
	background-color:#ff234f;
	
}

.header{
	width:100%;
	height:100px;
	background-color:#efacda;
}
.wrapper{
	margin:0 auto;
	width:100%;
	
}

.northHeader{
	width:100%;
	height:100px;
	background-color:#ffffff;
	text-decoration:bold;
	position:relative;
	float:left;
	text-align:center;
	color:#df1010;
}

.placeHolderContainer{
	width:100%;
	height:auto;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}

.northIndiaPlaceName{
	width:20%;
	height:auto;
	background-color:#e3aabf;
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:20px;
}
.northIndiaPlaceNameOrderedList{
	text-decoration:bold;
	color:#295af9;
	list-style:none;
	font-size:30px;
	margin:0px;
	padding:0px;
	text-align:center;
	
	
}

.northIndiaPlaceNameItem{
	width:100%;
	height:50px;
	background-color:#efe345;
	margin-top:10px;
	
}


.northIndiaPlaceDescription{
	width:70%;
	height:900px;
	background-color:#e3aabf;
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:20px;
}

.placeTourismName{
	width:100%;
	height:50px;
	background-color:#ccd4cb;
	color:#e64c17;
	text-align:center;
	text-decoration:bold;
	font-size:30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	word-spacing: 5px;
	 text-shadow: 3px 1px #58f743;
	position:relative;
	float:left;
}
.placeTourismAbout{
	width:100%;
	height:auto;
	background-color:#ffffff;
	color:#e64c17;
	text-align:left;
	text-decoration:bold;
	font-size:25px;
	font-family: "Verdana", cursive, sans-serif;
	word-spacing: 2px;
	position:relative;
	float:left;
}

.placeTourismImage{
	width:100%;
	height:auto;
	background-color:#95d795;
	color:red;
	position:relative;
	float:left;
}

.placeTourismThingsToDoFirstImage{
	width:35%;
	height:250px;
	text-decoration:bold;
	text-align:center;
	color:#e64c17;
	font-size:30px;
	background-color:#ffffff;
	position:relative;
	float:left;
	margin:20px;
}

.placeTourismThingsToDoSecondImage{
	width:35%;
	height:250px;
	text-decoration:bold;
	text-align:center;
	color:#e64c17;
	font-size:30px;
	background-color:#ffffff;
	position:relative;
	float:right;
	margin:20px;
}

.placeTourismThingsToDoThirdImage{
	width:35%;
	height:250px;
	background-color:#ffffff;
	position:relative;
	float:left;
	text-decoration:bold;
	text-align:center;
	color:#e64c17;
	font-size:30px;
	margin:20px;
}

.placeTourismThingsToDoFourImage{
	width:35%;
	height:250px;
	background-color:#ffffff;
	position:relative;
	float:right;
	margin:20px;
	color:#e64c17;
	font-size:30px;
	background-color:#ffffff;
	text-align:center;
}

.placeTourismImageFit{
	width:100%;
	height:220px;
}


.placeTourismHistoryAndDescription{
	width:100%;
	height:auto;
	background-color:#ffffff;
	position:relative;
	float:left;
	color:#e64c17;
	font-size:30px;
	background-color:#ffffff;
	text-align:left;
}

.historyDescriptionHeadingstyle{
	text-align:center;
	font-size:40px;
	color:#f29919;
	text-decoration:underline;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}