body{
	margin:0px;
	padding:0px;
}

.container{
	width:1000px;
	height:auto;
	background-color:#dfdada;
	margin:0px auto;
}

.wrapper{
	width:1000px;
	height:auto;
	margin:0px auto;
}
.packageTable{
	width:1000px;
	height:auto;
	border:1px solid black;
	color:black;
	
}

td{
	border:1px solid black;
	margin:0px;
	padding:0px;
	height:30px;
	font-size:20px;
}

.tableHeadingStyle{
	text-align:center;
	font-size:40px;
	margin:0px;
	padding:0px;
	color:#c80909;
	background-color:#e8baba;
	text-decoration:bold;
}