body{
	margin:0;
	padding:0;
}

.container{
	width:1000px;
	height:auto;
	margin:0 auto;
	background-color:#ffffff;
	
}
/*
.header{
	width:100%;
	height:100px;
	background-color:#ef67da;
}*/

.wrapper{
	margin:0 auto;
	width:1000px;
	
}

.contactHeader{
	width:100%;
	height:30px;
	background-color:#000000;
	position:relative;
	}


.icon-bar  {
	   width: 70%;
    float: left;
   
    padding: 0 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
	vertical-align: middle;
}


#social-media-icons{
	width:30%;
	position:relative;
	float:right;
	display:inline;
	
}


	

	
	
.logo{
	width:10%;
	height:100px;
	background-color:#ffffff;
	position:relative;
	float:left;
}

.logoImage{
	max-height:100%;
	max-width:100%;
}


.title{
	width:80%;
	height:100px;
	background-color:#ffffff;
	position:relative;
	float:left;
}

.textTitle{
	word-spacing: 10px;
	 text-shadow: 3px 2px red;
	  font-family: "Comic Sans MS", cursive, sans-serif;
	  padding-left:50px;
	  font-size:40px;
}

.swachBharat{
	width:10%;
	height:100%;
	position:relative;
	float:left;
	
}
.swachBharatImage{
	
	max-width:100%;
	min-height:100px;
}

.loginRegister{
	width:100%;
	height:50px;
	font-size:20px;
	background-color:#ffffff;
	margin-top:20px;
	margin-bottom:20px;
	position:relative;
	
}

.login{
	width:55%;
	float:right;
}
.textRegisterColor{
	color:#004ccb;
}

.menu{
	width:100%;
	height:100px;
	margin-top:60px;
	margin-bottom:10px;
	background-color:#ffffff;
	
	
}
.menuTable{
	position:relative;
	color:#fa48ac;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px black;
	font-size:20px;
	height:100%;
	width:95%;
	float:right;
	border:2px  black;
}
.menuTableAnchor{
	text-decoration:none;
	color:#fa48ac;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px black;
	font-size:20px;
}

/*
.fUnordered{
	margin:0px;
	padding:0px;
	
}
.fUnorderedItems{
	background-color:orange;
	border:1px solid red;
	width:12%;
	text-align:center;
	height:50px;
	line-height:50px;
	position:relative;
	float:left;
	color:#fa48ac;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px black;
	list-style:none;
}

.fUnorderedItemsAnchor{
	text-decoration:none;
	color:white;
	display:block;
}
.fUnorderedItemsAnchor:hover{
	background-color:green;
}

*/
#firstBanner{
	width:1000px;
	height:400px;
	position:relative;
	float:left;
	margin-bottom:200px;
}

#banner{
	width:1000px;
	height:400px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
	
}


#banner>img{
	width:400px;
	height:400px;
	position:relative;
	float:left;
	
}
/*------------------buttons next previous yet yo do -------------------
#banner>.btn{
	position:absolute;
	width:100px;
	height:100px;
	border:none;
	border-radius:25px;
	background: black;
	color:white;
	font-size:50px;
    top:500px;
}
#banner>#btn1:hover{
	box-shadow: 10px 0px 20px 0px black;
}
#banner>#btn2:hover{
	box-shadow: -10px 0px 20px 0px black;
}


#banner>#btn2{
	position:relative;
	float:right;
}
-------------------------------------------------------*/

.smallBannerRightSideFirst{
	width:250px;
	height:175px;
	position:relative;
	float:left;
	text-align:center;
	color:#1129a6;
	background-color:#f5ef78;
	margin-left:40px;
}
.smallBannerRightSideSecond{
	width:250px;
	height:175px;
	margin-right:40px;
	position:relative;
	float:right;
	text-align:center;
	color:#1129a6;
	background-color:#f5ef78;
}

.smallBannerRightSideThird{
	width:250px;
	height:175px;
	margin-left:40px;
	position:relative;
	float:left;
	margin-top:35px;
	text-align:center;
	color:#1129a6;
	background-color:#f5ef78;
}
.smallBannerRightSideFourth{
	width:250px;
	height:175px;
	margin-right:40px;
	position:relative;
	float:right;
	text-align:center;
	color:#1129a6;
	margin-top:35px;
	background-color:#f5ef78;
}

.smallBannerRightSideImage{
	width:250px;
	height:175px;
	
}



.content{
	width:1000px;
	height:600px;
	background-color:#ffffff;
	position:relative;
	float:top;

}
.statesFirstImage{
	width:300px;
	margin:0px -20px;
	height:250px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}

.statesSecondImage{
	width:300px;
	
	height:250px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}
.statesThirdImage{
	width:300px;

	height:250px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}
.statesFourthImage{
	width:300px;
	height:250px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}

.imageFitBox{
	width:100%;
	height:90%;

}
.statesSelector{
	width:1000px;
	height:50px;
	position:relative;
	float:left;
}
/*


ul{
	margin:0px;
	padding:0px;
	list-style:none;
	
}
ul li{
	float:left;
	width:15%;
	height:40px;
	background-color:orange;
	opacity:.9;
	line-height:40px;
	text-align:center;
	font-size:20px;
	margin:10px;

	
	
}

ul >li> a {
	text-decoration:none;
	color:black;
	display:block;
}

ul li a:hover{
	background-color:green;
}
ul > li > ul > li{
	display:none;
margin:0px;	
}

ul li:hover ul li {
	display:block;
}

*/

/*-------------------------experiment lists-------------------*/

.firstUnordered{
	margin:0px;
	padding:0px;
	list-style:none;
	
}
.firstUnorderedList{
	float:left;
	width:150px;
	height:40px;
	background-color:orange;
	opacity:.9;
	line-height:40px;
	text-align:center;
	font-size:20px;
	margin-left:15px;
	margin-top:10px;

	
	
}

.firstUnorderedListAnchor{
	text-decoration:none;
	color:black;
	display:block;
}

.firstUnorderedListAnchor:hover{
	background-color:green;
}
.firstUnorderedListSecondUnorderedList{
	display:none;
margin:0px;	
}


/*-----------------------------end of experiment------------------*/


.popularPlaces{
	padding-top:50px;
	margin-top:50px;
}


.placesFirstImage{
	width:200px;
	margin-left:50px;
	height:200px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}
.placesSecondImage{
	width:200px;
	margin-left:50px;
	height:200px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}
.placesThirdImage{
	width:200px;
	margin-left:50px;
	height:200px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}
.placesFourthImage{
	width:200px;
	margin-left:50px;
	height:200px;
	background-color:#aaaa9f;
	position:relative;
	float:left;
}

.horizontalTab{
	width:1000px;
	height:400px;
	position:relative;
	float:left;
	margin-bottom:20px;
	margin-left:10px;
	text-align:center;
	text-decoration:bold;
	
}

.footer{
	width:1000px;
	height:auto;
	background-color:#444242;
	position:relative;
	float:left;
	margin-top:20px;
}

.footetTable{

	border:1px solid red;
	width:1000px;
	height:50px;
	text-align:center;
	text-decoration:bold;
	text-decoration:underline;
	font-size:25px;
	font-family:font-family: "Comic Sans MS", cursive, sans-serif;
	/*text-shadow: 3px 1px #2ed7f6;*/
	color:#ffffff;
	position:relative;
	float:left;
	
	
}

.footerUnorderedList{
	display:block;
	text-align:center;
	list-style:none;
	text-decoration:none;
	font-size:20px;
	font-family:font-family: "Comic Sans MS", cursive, sans-serif;
	color:#ffffff;
	background-color:#444242;

	
	
}

.aboutPrivacyCondition{
	width:1000px;
	height:auto;
	background-color:#adbbbe;
	position:relative;
	float:left;
	
}

.tableAboutPrivacyCondition{ 
	text-align:center;
	width:1000px;
	
}
.aboutPrivacyConditionAnchor{
	color:#0411b3;
	text-decoration:bold;
}




.icon-bar  {
	   width: 70%;
    float: left;
   
    padding: 0 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
	vertical-align: middle;
}

#social-media-icons{
	width:30%;
	position:relative;
	float:right;
	display:inline;
	
}
.socialImage{
	max-height:25px;
	max-width:30px;
	background-color:white;
	padding:1px;
}

.logoImage{
	max-height:100px;
	max-width:100%;
}
