body{
	margin:0;
	padding:0;
}

.container{
	width:100%;
	height:auto;
	
	background-color:#ffffff;
	
}

.header{
	width:100%;
	height:100px;
	background-color:#efacda;
}
.wrapper{
	margin:0 auto;
	width:100%;
	
}

.northHeader{
	width:100%;
	height:100px;
	background-color:#b0a1a1;
	text-decoration:bold;
	position:relative;
	float:left;
	text-align:center;
	color:#df1010;
}

.placeHolderContainer{
	width:100%;
	height:auto;
	background-color:#8dbbb2;
	position:relative;
	float:left;
	
}

.northIndiaPlaceName{
	width:20%;
	height:auto;
	background-color:#e3aabf;
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:20px;
}
.northIndiaPlaceNameOrderedList{
	text-decoration:bold;
	color:#295af9;
	list-style:none;
	font-size:30px;
	margin:0px;
	padding:0px;
	text-align:center;
	
	
}

.northIndiaPlaceNameItem{
	width:100%;
	height:50px;
	background-color:#efe345;
	margin-top:10px;
	
}


.northIndiaPlaceDescription{
	width:70%;
	height:auto;
	background-color:#e3aabf;
	position:relative;
	float:left;
	margin:10px;
	margin-bottom:20px;
}

.placeTourismName{
	width:100%;
	height:auto;
	background-color:#8d7070;
	color:red;
	position:relative;
	float:left;
}
.placeTourismAbout{
	width:100%;
	height:auto;
	background-color:#410909;
	color:red;
	position:relative;
	float:left;
}

.placeTourismImage{
	width:100%;
	height:auto;
	background-color:#95d795;
	color:red;
	position:relative;
	float:left;
}

.placeTourismThingsToDoFirstImage{
	width:35%;
	height:250px;
	background-color:#f26fa3;
	position:relative;
	float:left;
	margin:20px;
}

.placeTourismThingsToDoSecondImage{
	width:35%;
	height:250px;
	background-color:#f26fa3;
	position:relative;
	float:right;
	margin:20px;
}

.placeTourismThingsToDoThirdImage{
	width:35%;
	height:250px;
	background-color:#f26fa3;
	position:relative;
	float:left;
	margin:20px;
}

.placeTourismThingsToDoFourImage{
	width:35%;
	height:250px;
	background-color:#f26fa3;
	position:relative;
	float:right;
	margin:20px;
}


.placeTourismHistoryAndDescription{
	width:100%;
	height:300px;
	background-color:#6d193a;
	position:relative;
	float:left;
}