body{
	margin:0;
	padding:0;
}

.container{
	width:1000px;
	height:auto;
	margin:0 auto;
	background-color:#ffffff;
	
}
.header{
	width:1000px;
	height:100px;
	background-color:#efacda;
}

.wrapper{
	margin:0 auto;
	width:1000px;
	
}

.northIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
	
}
.regionIndiaImage{
	width:300px;
	height:500px;
	background-color::#ffffff;
	margin:10px;
	font-size:30px;
	text-decoration:bold;
	text-align:center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px red;
	position:relative;
	float:left;	
	
}
.regionIndiaImageFit{
	width:300px;
	height:340px;
	
}

.regionIndiaDescription{
	width:650px;
	height:500px;
	background-color:#989cd7;
	position:relative;
	margin-top:10px;
	margin-left:10px;
	
	float:right;
	font-size:18px;
	color:black;
	 font-family: "Comic Sans MS", cursive, sans-serif;
	
}

.makesFirstLetterBig{
	font-size:20px;
	color:#5532ef;
}
.makesQuotesSymbolRed{
	font-size:30px;
	color:#f41222;
}



.westIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}

.centralIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}

.southIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}

.eastIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}

.northEastIndia{
	width:1000px;
	height:500px;
	background-color:#ffffff;
	position:relative;
	float:left;
	
}



